@import "tailwindcss";

:root {
  --color-primary: #2563EB;    
  --color-accent: #10B981;     
  --color-text: #1F2937;       
  --color-bg: #F3F4F6;  
  scroll-padding-top: 5vh;
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #3B82F6;
    --color-accent: #34D399;    
    --color-text: #F9FAFB;      
    --color-bg: #111827; 
    scroll-padding-top: 5vh;
    scroll-behavior: smooth;
  }
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

section {
  @apply flex flex-col min-h-[95vh] items-center justify-center pt-5
}
section h1 {
  @apply text-5xl font-bold text-center mb-6;
}

section p.subtitle {
  @apply text-lg font-medium text-center mb-4;
}
